@import url('https://fonts.google.com/specimen/Karla');

:root {
  --green-lighter: hsl(148, 38%, 91%);
  --green-medium: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --grey-medium: hsl(186, 15%, 59%);
  --grey-darker: hsl(187, 24%, 22%);
  --font-family: 'Karla', sans-serif;
}

body {
  margin: 50px;
  padding: 20px;
  font-family: var(--font-family);
  font-size: 16px;
  background-color: var(--green-lighter);
  color: var(--grey-darker);
  
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
