:root {
  --background-color: #1e1e1e;
  --container-color: #2c2c2c;
  --button-color: #4caf50;
  --input-background: #ffffff;
  --input-text-color: #000000;
  --text-color: #ffffff;
  --item-background: #444444;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--container-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

h1 {
  color: var(--text-color);
  margin-bottom: 20px;
}

.album-list-container {
  margin-top: 20px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

label {
  color: var(--text-color);
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--input-background);
  color: var(--input-text-color);
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-color);
  color: var(--text-color);
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #45a049;
}

.album-item {
  background-color: var(--item-background);
  color: var(--text-color);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
