body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    
}


/* HEADER */
.top-header{
        background-image: url('./img/travel.png');
        background-size: cover;
        background-position: center; 
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0 20px;
        width: 100%;
        height: 80vh;
    }

    .top-header-voucher{
        background-image: url('./img/travel.png');
        background-size: cover;
        background-position: center; 
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0 20px;
        width: 100%;
        height: 100vh;
    }
    

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #E2784B;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    padding: 10px 20px;
    color: rgba(49, 47, 47, 0.892);
    font-weight: 500;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: var(--color-generalred);
    color: white;
    border-radius: 5px;
}
h1{
    text-align: center;
}

#searchbar {
    padding: 5px;
    text-align: center;
    background-color: transparent;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 8px;
    width: 40%;
    
}

#searchbar i {
    color: rgba(49, 47, 47, 0.892);
    font-size: 1.2rem;
}

#searchbar input {
    width: 80%;
    padding: 0.5rem;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

h3{
    text-align: center;
    color: rgba(49, 47, 47, 0.892);
    font-size: 20px; 
    font-weight:600;
    padding: 5px;
}

h4{
    color: rgba(47, 45, 45, 0.86);
    font-size: 16px;
    font-weight: 500;
}

main{
    background-color: #FBF9FF;
    width: 100%;
    margin: 0 auto;
}

.section1{
    background-color: #eae7dc;
}


.button-container {
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}

.category-button {
    background-color: #E2784B;
    color: rgba(248, 242, 242, 0.892);
    border: 1px solid rgba(62, 62, 62, 0.495);
    padding: 10px;
    margin: 0 0.5rem;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 20%;
    box-shadow: 0 2px 3px rgba(79, 68, 68, 0.213);
    font-size: 16px;
}

.category-button:hover {
    background-color: #e6554d;
}



.title{
    font-weight: 300;
    color: aliceblue;
    padding-top: 32px;
}




h2 {
    color: white;
    text-align: center;
}

.user-info {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 14px;
    padding: 20px;
    
    justify-content: center;
    width: 50%;
    height: auto;
    align-items: center;
    margin: 0 auto;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    box-shadow: 0 2px 4px grey;
}

.section2{
    background-color: #eae7dc;
}

#reserves{
background-color: #f9f9f9;
padding: 40px;
}

#bonus, #no-bonus{
padding: 40px;
}   


/* CARD PAGINA HOME */
.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 20px;
}

.card{
    width: 200px;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    background-color: rgba(188, 186, 186, 0.61);
    padding: 40px;
    box-shadow: 1px 4px 5px rgba(128, 128, 128, 0.323);
    border: 1px solid rgba(188, 186, 186, 0.61);;
    
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.card-content {
    padding: 1rem;
}

.card h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #ddd;
}

.card a {
    display: block;
    text-align: center;
    padding: 0.5rem;
    border: 1px solid rgba(62, 62, 62, 0.495);
    background-color: #E2784B;
    transition: background-color 0.5s ease;
    cursor: pointer;
    color: rgba(248, 242, 242, 0.892);
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 1rem;
    box-shadow: 0 2px 3px rgba(79, 68, 68, 0.213);
}




.card a:hover {
    background-color: #e6554d;
}


/* card voucher */
.voucher-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #E2784B;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 10px;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 40%;
    border: 1px solid black;
}

.voucher-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background-color: #ffff;
}

.voucher-card:hover {
    transform: translateY(-5px);
}

.voucher-image {
    background-image: url(./img/mongolfiera.jpg);
    width: 100%;
    height: 240px;
    background-size: cover;
    background-position: center;
}

.voucher-content {
    padding: 20px;
}

.voucher-content h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #333;
}

.voucher-content p {
    margin: 0 0 15px 0;
    font-size: 18px;
    color: #666;
}

.voucher-title {
    font-size: 20px;
    color: #ffff;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
}

.voucher-content a {
    display: block;
    text-align: center;
    padding: 0.5rem;
    border: 1px solid rgba(62, 62, 62, 0.495);
    background-color: #E2784B;
    transition: background-color 0.5s ease;
    cursor: pointer;
    color: rgba(248, 242, 242, 0.892);
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 1rem;
    box-shadow: 0 2px 3px rgba(79, 68, 68, 0.213);
    width: 90%;
}

.voucher-content a:hover {
    background-color: #e6554d;
}




/*Start footer*/
footer {
    background-color: #E2784B;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
}


.footer-contatti img {
    width:20px;
    height: 20px;
    padding-right: 8px;
    filter: brightness(0) invert(1);
    text-align: center;
}

.footer-contatti-info {
    display: flex;
    align-items: center;
}

.footer-contatti-info p {
    font-size: small;
    color: #fff;
}

.social-icons img{
    width: 30px;
    height: auto;
    border-radius: 50%;
}



.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:#E2784B;
    border-radius: 4px;
    text-decoration: none;
    z-index: 999; /* il pulsante sia sopra gli altri contenuti */
    padding: 5px;
}

.scroll-to-top:hover {
    background-color: #ee746c;
}

/* end footer*/

/* UTILITIES */

.arrow{
    font-size: 30px;
    color: aliceblue;
    align-self: center;
}
