:root {
    --background-color: #1e1e1e;
    --container-color: #2c2c2c;
    --button-color: #4caf50;
    --input-background: #ffffff;
    --input-text-color: #000000;
    --text-color: #ffffff;
    --item-background: #444444;
  }
  
  body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--container-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    width: 70%;
    height: 50vh;

  }
  
  h1 {
    color: #1e1e1e;
    margin-bottom: 20px;
    font-size: 10px;
    margin-top: 95px;
  }
  
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
   height: 50vh;
    padding: 20px;
  }
  
  label {
    color: var(--text-color);
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    border: none;
    background-color: var(--input-background);
    color: var(--input-text-color);
    width: 70%;
    align-items: center;
  }
  
  button {
  width: 40%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  }
  
  button:hover {
    background-color: #45a0497f;
    color: whitesmoke;
  }
  

  