.AdviceGen {
    background: var(--dark-grayish-blue);
    border-radius: 10px;
    padding: 2rem;
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 400px; 
    margin: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
  
  .AdviceGen h1 {
    color: var(--neon-green);
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
  }
  
  .AdviceGen p {
    color: var(--light-cyan);
    font-size: 28px;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
  
  .AdviceGen .divider {
    margin: 1.5rem 0;
  }
  
  .AdviceGen .divider img {
    width: 100%;
  }